body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    margin-top: 0;
    padding: 30px;
    background-color: rgb(168, 117, 216);
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke  
}

.footer {
    margin-bottom: 0;
    padding: 10px;
    background-color: rgb(168, 117, 216);
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke  
}