
<h1 class="tituloChat">Chat con WebSockets</h1>
<div class="inputMensaje">
    <label for="chatbox">Ingrese su mensaje</label>
    <input id="chatBox" type="text">
</div>
<div>
    <p id="messageLogs" class="mensajes"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>


