<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Inicio de sesión</h1>

<form class="formulario">
    <label for="email" class="label">Correo Electrónico</label>
    <input type="email" class="input" placeholder="Ingresa tu correo electrónico">
    <label for="password" class="label">Contraseña</label>
    <input type="password" class="input" placeholder="Ingresa tu contraseña">
    <button class="boton">Iniciar Sesión</button>
    <a id="registroLink" href="#">Registrarse</a>
</form>

<script src="../../public/js/login.js"></script>
</body>
</html>
