<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Resgitro</h1>

<form class="formulario">
     <label for="nombre" class="label">Nombre</label>
    <input type="text" class="input" placeholder="Ingresa tu nombre">
     <label for="apellido" class="label">Apellido</label>
    <input type="text" class="input" placeholder="Ingresa tu apellido">
     <label for="edad" class="label">Edad</label>
    <input type="number" class="input" placeholder="Ingresa tu edad">
    <label for="email" class="label">Correo Electrónico</label>
    <input type="email" class="input" placeholder="Ingresa tu correo electrónico">
    <label for="password" class="label">Contraseña</label>
    <input type="password" class="input" placeholder="Ingresa tu contraseña">
    <button class="boton">Iniciar Sesión</button>
    <a id="loginLink" href="#">Iniciar Sesión</a>
</form>

<script src="../../public/js/registro.js"></script>
</body>
</html>
